<apex:page controller="acc">
  <apex:form >
  <apex:pageBlock >
  <apex:pageBlockTable value="{!ant }" var="a">
  <apex:column value="{!a}" headerValue="{Name}"/>
  <apex:column value="{!a}" headerValue="{Rating}"/>
  <apex:column value="{!a}" headerValue="{Phone}"/>
  </apex:pageBlockTable>
  </apex:pageBlock>
  </apex:form>
</apex:page>