<apex:page standardController="Account" extensions="accConroller" >
 <apex:form >
 <apex:pageBlock >
 <apex:pageblockSection >
 <apex:inputtext label="Name" value="{!Namee}"/>
 <apex:commandButton value="Save" action="{!save}"/>
 </apex:pageblockSection>
 </apex:pageBlock>
 </apex:form>
</apex:page>