<apex:page controller="DynamicApexDemo">
    <apex:form >
        <apex:pageBlock >
            <apex:pageblockSection >
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Object List</apex:outputLabel>
                    <apex:selectList value="{!selectedObject}" size="1" title="Object" onchange="selectedObjectName()">
                        <apex:selectOptions value="{!ObjectList}"></apex:selectOptions>                   
                    </apex:selectList>                    
                </apex:pageBlockSectionItem>
                <apex:actionfunction name="selectedObjectName" action="{!objectpermission}" />
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Field List</apex:outputLabel>
                    <apex:selectList value="{!selectedFields}" size="4" title="Fields" multiselect="true">
                        <apex:selectOptions value="{!FieldList}"></apex:selectOptions>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSection >
                <apex:inputField value="{!objperm.PermissionsRead}"/>
                 <apex:inputField value="{!objperm.PermissionsCreate}"/>
                  <apex:inputField value="{!objperm.PermissionsDelete}"/>
                  
                    <apex:inputField value="{!objperm.PermissionsViewAllRecords }"/>
                </apex:pageBlockSection>
                              
                
            </apex:pageblockSection>
            <center>
                <apex:commandButton value="Query" action="{!FetchQuery}"/>
               
            </center>
           
            <apex:pageBlockSection >
                {!selectedFieldsFromPage}
                <table>
                    <tr>
                        <apex:repeat value="{!selectedFieldsFromPage}" var="st">
                            <td>
                                {!st}
                            </td>
                        </apex:repeat>
                    </tr>
                    <!--<tr>
                        <apex:repeat value="{!selectedFields}" var="st">                            
                                <th><strong>{!st}</strong></th>                                                
                        </apex:repeat>
                    </tr> -->
                    <apex:repeat value="{!selectedObjectRecords}" var="s">
                        <tr>
                            <td>
                                {!s}
                            </td>
                         </tr>
                    </apex:repeat> 
                </table>
                
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>