<apex:page controller="PosController">
 <apex:sectionHeader title="Employee" subtitle="Confirm page"/>
 <apex:pageBlock title="Employee Confirmation" mode="inlineEdit ">
 <apex:pageBlockSection columns="1">
 <apex:pageblockSectionItem helpText="Nme of the applied position" >
 <apex:outputLabel value="Position Name"/>
 <apex:outputText value="{!Name}"/>
 </apex:pageblockSectionItem>
  <apex:pageblockSectionItem >
  <apex:outputLabel value="Max pay "/>
 <apex:outputText value="{!Maxpay }"/>
 </apex:pageblockSectionItem>
  <apex:pageblockSectionItem >
  <apex:outputLabel value="Min pay"/>
 <apex:outputText value="{!Minpay}"/>
 </apex:pageblockSectionItem>
 </apex:pageBlockSection>
 </apex:pageBlock>
</apex:page>