<apex:page standardController="Quote" tabStyle="opportunity" extensions="Milestones">
<apex:form >
<apex:pageblock >
<apex:pageblockSection >
 <apex:outputField value="{!qut.totalprice}"/>
 <apex:inputText label="No of Milestones" value="{!Milestones}"/>
 </apex:pageblockSection>
 <apex:commandButton value="create termsheet" action="{!createtermsheet}"/>
 </apex:pageblock>
</apex:form>
</apex:page>