<apex:page standardController="Position__c" extensions="WrapController">
<apex:form >
  <apex:pageblock >
      <apex:pageblockSection title="Position Detais">
          <apex:outputField value="{!Position__c.Name}"/>
      </apex:pageblockSection>
      <apex:pageblockSection title="Application Details">
          <apex:pageBlockTable value="{!wrplist}" var="j">
                 <apex:column value="{!j.jbs.OMC_level__c }"/>
                 <apex:column >
                 <apex:inputCheckbox value="{!j.isselecte}" />
                 </apex:column>
          </apex:pageBlockTable>
      </apex:pageblockSection>
  </apex:pageblock>
  </apex:form>
</apex:page>